/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  min-height: 100vh;
  background-color: #333;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Todo app container */
.todo-app {
  background: #f4f4f4;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 6px rgba(0, 255, 255, 1);
  transition: transform 0.3s ease;
}

.todo-app:hover {
  transform: scale(1.01);
}

/* Heading styles */
.heading {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form group layout */
.form-grp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

/* Task input field */
#taskInput {
  padding: 0.6rem;
  margin-right: 1rem;
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

#taskInput:focus {
  border-color: #333;
  outline: none;
}

/* Add task button */
#addTaskButton {
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: #28a745;
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Button hover effect */
#addTaskButton:hover {
  background-color: #218838;
}

/* Task heading */
#taskHeading {
  display: none;
  color: #343a40;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

/* Active task heading */
#taskHeading.active {
  display: block;
}

/* Task list styles */
#taskList {
  list-style: none;
}

/* Individual task item */
.task-item {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #dedede;
}

/* Completed task styling */
.task-item.done {
  text-decoration: line-through;
  color: #333;
}

/* Remove button styles */
.btn {
  color: #fff;
  border: none;
  padding: 0.4rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.remove-btn {
    background-color: #dc3545;
}

.edit-btn {
    background-color: #007bf4;
}

/* Remove button hover effect */
.edit-btn:hover {
  background-color: ##0056b3;
  transform: scale(1.05);
}

.remove-btn:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

