/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  min-height: 100vh;
  background: linear-gradient(#a3c7e6, #a5c4de);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Todo App Styles */
.todo-app {
  background: #f4f4f4;
  padding: 1.2rem;
  border-radius: 1.5rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
}

.todo-app:hover {
  transform: scale(1.01);
}

/* Heading Styles */
.heading {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form Grp Layout */
.form-grp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

/* Task Input Styles */
#taskInput {
  padding: 0.5rem;
  margin-right: 1rem;
  border: 2px solid #333;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

#taskInput:focus {
  outline: none;
}

/* Add Button Styles */
#addTaskButton {
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: #28a745;
  padding: 0.25rem 1.2rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Add Button Hover Effect */
#addTaskButton:hover {
  background-color: #218838;
}

/* Task Heading Styles */
#taskHeading {
  display: none;
  color: #343a40;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

#taskHeading.active {
  display: block;
}

/* Task List Styles */
#taskList {
  list-style: none;
}

/* Task Item Styles */
.task-item {
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #d9d9d9;
}

.task-name {
  font-size: 1.15rem;
}

/* Completed Task Styling */
.task-item.done {
  text-decoration: line-through;
  color: #333;
}

/* Remove Button Styles */
.remove-btn {
  color: #fff;
  background-color: #dc3545;
  border: none;
  padding: 0.4rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Remove Button Hover Effect */
.remove-btn:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
